
{% extends 'layout/default.html' %}

{% block content %}

<div class="container-fluid p-5">
     <div class="container-fluid d-flex align-items-center">

        <form method="post" name="formulario" class="d-flex">
            {% csrf_token %}
            <div class="mb-3 w-100">
               <input type="text" class="form-control pt-2 pb-2 w-100" id="campo_busqueda" placeholder="Buscar por correo electrónico..." name="keywords" required>
            </div>

            <button type="submit" class="btn btn-primary ms-2" style="width: 200px; height: 42px;">Buscar</button>
        </form>

        {% load user_tags %}
            {% if request.user|has_perm:"myapp.add_doctorando" %}
                <a class="btn btn-primary pt-2 pb-2 me-2 ms-auto" href="{% url 'crear_doctorandos' %}">
                    <div class="d-flex">
                        <span class="material-symbols-rounded text-light me-2">person_add</span>
                        Registrar Doctorando
                    </div>
                </a>
            {% endif %}
    </div>
 


    <div class="container-fluid mt-4">

        <table class="table table-borderless">
            <thead class="table-primary">
              <tr>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Tutor</th>
                <th scope="col">Tipo de tesis</th>
                <th scope="col">Máster</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
                {% for d in doctorandos  %}

                    <tr>
                        <td  class="pt-3 pb-3">{{d.user.email}}</td>
                        <td  class="pt-3 pb-3">{% if d.tutor is None %}No asignado{% else %}{{d.tutor.nombre}} ({{d.tutor.email}}){% endif %}</td>
                        <td  class="pt-3 pb-3">{{d.tipoTesis}}</td>
                        <td  class="pt-3 pb-3">{{d.is_master}}</td>
                        <td  class="pt-3 pb-3">
                            <div class="d-flex justify-content-center">             
                                {% if request.user|has_perm:"myapp.change_doctorando" %}
                                    <a href="{% url 'editar_doctorando' d.id %}"><span class="material-symbols-rounded text-dark me-2">edit</span></a>
                                {% endif %}
                                {% if request.user|has_perm:"myapp.delete_doctorando" %}
                                    <a onclick="eliminar(event, '{% url 'eliminar_doctorando' d.user_id %}');" href="{% url 'eliminar_doctorando' d.user_id %}"><span class="material-symbols-rounded text-dark me-2">delete</span></a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
        
                {% endfor %}
            </tbody>
        </table>

    </div>
 
</div>

<script>

    eliminar= (event, url)=>{
        event.preventDefault();
        if(confirm('¿Está seguro que desea eliminar este doctorando?')){
            window.location = url;
        }
    };

</script>

{% endblock  %}