<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />

        <title>Estado solicitud: {{info.email}}</title>
    </head>

    <body class="bg-light">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

        <main class="bg-light min-vh-100 d-flex justify-content-center align-content-center">
            
            <div class="w-75 p-5 mt-5" style="max-width: 1000px;">

                <h2 class="fw-bolder text-uppercase mb-5">Estado de la solicitud: 
                    {% if estado.estado == "P" %}
                        <span class="text-success">Pendiente</span>
                    {% else %}
                        <span class="text-danger">Denegada</span>
                    {% endif %}
                </h2>

                <div class="card border-1 bg-light p-5">
                    
                    <h6 class="fw-semibold text-dark mb-3"><strong>Solicitante:</strong> {{user.nombre}} {{user.apellidos}}</h6>

                    <h6 class="fw-semibold text-dark mb-3"><strong>Correo electrónico:</strong> {{user.email}}</h6>

                    <h6 class="fw-semibold text-dark mb-3"><strong>CI:</strong> {{user.carnet}}</h6>

                    <h6 class="fw-semibold text-dark mb-3"><strong>País:</strong> {{user.pais}}</h6>

                    <h6 class="fw-semibold text-dark mb-3"><strong>Título:</strong> {{user.titulo}}</h6>

                    <h6 class="fw-semibold text-dark"><strong>Área de Trabajo:</strong> {{user.areaTrabajo}}</h6>

                </div>

                <div class="float-end mt-5">
                    <a class="btn btn-outline-danger pt-2 pb-2" href="{% url 'desconectar' %}" style="min-width: 150px;">Salir</a>
                </div>

            </div>

        </main>
        
    </body>
</html>